body {
    background-image: url('/assets/bg.svg');
}

.login .card {
    box-shadow: 0 0 10px #bfbfbf;
}

.login .login-btn, .login .login-btn:active {
    background: #663399 !important;
    border-color: #663399 !important;
    width: 100%;
    border-radius: 20px;
}

.login .form-control {
    border-radius: 20px !important;
}
